<div class="space-10"></div>
<section id="content-region-3" class="padding-40 page-tree-bg">
  <div class="container">
    <h3 class="page-tree-text">
      Турниры
    </h3>
  </div>
</section><!--page-tree end here-->

<div class="space-50"></div>
<div class="container">
  <div class="raw">
    <div class="cold-md-12">
      <% if current_admin.present? %>
          <a href="<%= add_game_path(tournament: 'ms') %>">Добавить результаты игры</a></br>
          <a href="<%= new_big_tournament_tour_path %>">Добавить новый тур</a></br>
          <a href="<%= big_tournament_tours_path %>">Упрвление турами</a></br>
      <% end %>
      <% @tours.each do |tour| %>
          <% if tour.id == 7 %>
              <a href="<%= mcl_cup_path(id: tour.id) %>"> <%= tour.name %></a></br>
          <% else %>
              <a href="<%= mafia_stars_results_path(id: tour.id) %>"> <%= tour.name %></a></br>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
