<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="raw">
    <div class="col-md-2">
      <h3><strong>Участники</strong></h3>
      <% @list_of_players.each do |nick| %>
          <label><%= nick.gsub('_', ' ') %></label></br>
      <% end %>
    </div>
    <div class="col-md-2">
      <h3><strong>Игры(<%= link_to('рассадка', fates_path(id: params[:id])) if @tour.big_tournament.mode == 'double' %>)</strong></h3>
      <% if public_tour?(public: @tour.public) %>
          <div class="col-md-1">
            <% @games[0..9].each_with_index do |game, index| %>
                <label><%= link_to '№' + (index + 1).to_s, "/show_game/#{game.id}/?tournament=ms" %></label></br>
            <% end %>
          </div>
          <% if @games.count >= 11 %>
              <div class="col-md-1">
                <% @games[10..50].each_with_index do |game, index| %>
                    <label><%= link_to '№' + (index + 11).to_s, "/show_game/#{game.id}/?tournament=ms" %></label></br>
                <% end %>
          <% end %>
          </div>
      <% end %>
    </div>
    <div class="col-md-7" style="text-align: center;">
      <h3><strong>Рейтинг <%= @tour.name %></strong></h3>
      <% if public_tour?(public: @tour.public) %>
          <% if @result_array.empty? %>
              <h4> Серия еще не началась </h4>
              <!--<h4>Результаты пока недоступны</h4>-->
          <% else %>
              <% if @hard_card == 'отсутствует' %>
                  <label><%= @hard_card %> </label>
              <% else %>
                  <label><%= @hard_card + ' применяется коеф. сложности ' + (1 + @additional_coefficient).to_s + (" (город - #{@total_victory_citizen}, мафия - #{@total_victory_mafia})") %> </label>
              <% end %>
              <table class="table table-condensed table-bordered table-hover">
                <thead>
                <tr>
                  <th>№</th>
                  <th>Ник</th>
                  <th title="общая сумма набранных балов">Б</th>
                  <th title="количество сыгранных игр">И</th>
                  <th title="общее количество побед">П</th>
                  <th title="количество званий 'Лучший игрок'">Л</th>
                  <th title="количество игр шерифом">Ш</th>
                  <th title="количество игр доном">Д</th>
                  <th title="количество игр мафией">М</th>
                  <th title="Убийств в первую ночь">У</th>
                  <th title="количество лучших ходов (2 или 3 чёрных)">ЛХ</th>
                  <th title="количество штрафов, каждый штраф -0,5">Шт</th>
                </tr>
                </thead>
                <% @result_array.each_with_index do |player, index| %>
                    <tbody style="<%= 'background-color: #FFD700;' if (index == 0 || index == 1) %>" class="<%= 'player-rating-background' if (index == 2 || index == 3 || index == 4) %>">
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= player[:nick] %></td>
                      <td><%= print_points_without_zero(player[:rating].round(2)) %></td>
                      <td><%= player[:citizen_count] + player[:mafia_count] + player[:sheriff_count] + player[:don_count] %></td>
                      <td><%= player[:victories] %></td>
                      <td><%= player[:best_count] %></td>
                      <td><%= player[:sheriff_count] %></td>
                      <td><%= player[:don_count] %></td>
                      <td><%= player[:mafia_count] %></td>
                      <td><%= player[:killed_first_night] %></td>
                      <td><%= player[:best_moves] %></td>
                      <td><%= player[:penalty_amount] %></td>
                    <tr>
                    </tbody>
                <% end %>
              </table>
              <% if (@tour.try(:big_tournament).try(:mode) == 'double') %>
                        <div class="col-md-6" style="text-align: center;">
              <h3><strong>Командный рейтинг</strong></h3>
              <% if public_tour?(public: @tour.public) %>
                      <% if @result_array.empty? %>
                              <h4> Серия еще не началась </h4>
                              <!--<h4>Результаты пока недоступны</h4>-->
                          <% else %>
                              <% if @hard_card == 'отсутствует' %>
                                      <label><%= @hard_card %> </label>
                                  <% else %>
                                      <label><%= @hard_card + ' применяется коеф. сложности ' + (1 + @additional_coefficient).to_s + (" (город - #{@total_victory_citizen}, мафия - #{@total_victory_mafia})") %> </label>
                                  <% end %>
                              <table class="table table-condensed table-bordered table-hover">
                        <thead>
                      <tr>
                          <th>№</th>
                          <th>Команда</th>
                          <th title="общая сумма набранных балов">Б</th>
                          <th title="количество званий 'Лучший игрок'">Л</th>
                          <th title="общее количество побед">П</th>
                          <th title="количество игр шерифом">Ш</th>
                          <th title="количество игр доном">Д</th>
                          <th title="количество игр мафией">М</th>
                          <th title="Убийств в первую ночь">У</th>
                          <th title="количество лучших ходов (2 или 3 чёрных)">ЛХ</th>
                          <th title="количество штрафов, каждый штраф -0,5">Шт</th>
                        </tr>
                      </thead>
                        <% @final_team.each_with_index do |player, index| %>
                                <tbody style="<%= 'background-color: #FFD700;' if (index == 0 || index == 1) %>" class="<%= 'player-rating-background' if (index == 2 || index == 3 || index == 4) %>">
                          <tr>
                              <td><%= index + 1 %></td>
                              <td><%= player[:nick] %></td>
                              <td><%= print_points_without_zero(player[:rating].round(2)) %></td>
                              <td><%= player[:best_count] %></td>
                              <td><%= player[:victories] %></td>
                              <td><%= player[:sheriff_count] %></td>
                              <td><%= player[:don_count] %></td>
                              <td><%= player[:mafia_count] %></td>
                              <td><%= player[:killed_first_night] %></td>
                              <td><%= player[:best_moves] %></td>
                              <td><%= player[:penalty_amount] %></td>
                            <tr>
                            </tbody>
                            <% end %>
                      </table>
                          <% end %>
                  <% else %>
                      <h4>Результаты пока недоступны</h4>
                  <% end %>
            </div>
                    <% end %>
          <% end %>
      <% else %>
          <h4>Результаты пока недоступны</h4>
      <% end %>
      <%= image_tag ('tour1_image.jpg'), class: 'center-block' if params[:id] == '1' %>
      <%= image_tag ('tour2_image.jpg'), class: 'center-block' if params[:id] == '2' %>
      <%= image_tag ('tour3_image.jpg'), class: 'center-block', width: 604, height: 340 if params[:id] == '3' %>
      <%= image_tag ('tour4_image.jpg'), class: 'center-block', width: 604, height: 340 if params[:id] == '4' %>
      <%= image_tag ('tour5_image.jpg'), class: 'center-block', width: 604, height: 340 if params[:id] == '5' %>
      <%= image_tag ('otbor_stars_2017.jpg'), class: 'center-block', width: 604, height: 340 if params[:id] == '21' %>
      <% if public_tour?(public: @tour.public) %>
          <%= image_tag ('group_final.jpg'), class: 'center-block', width: 604, height: 340 if params[:id] == '7' %>
      <% end %>
    </div>
  </div>
</div>
