<div class="space-10"></div>
<section id="content-region-3" class="padding-40 page-tree-bg">
  <div class="container">
    <h3 class="page-tree-text">
     Игры
    </h3>
  </div>
</section><!--page-tree end here-->

<% if current_admin.present? %>
<div class="space-50"></div>
<div class="container">
  <div class="raw">
    <div class="cold-md-12">
      <table class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Номер игры</th>
          <th>Ведущий</th>
          <th>Победа</th>
          <th>Дата</th>
          <th></th>
        </tr>
        </thead>
        <% @games.each do |game| %>
            <tbody >
            <tr>
              <td><%= game.number || '' %></td>
              <td><%= game.leading.try(:nick) %></td>
              <td><%= game.victory %></td>
              <td><%= game.date %></td>
              <td><%= link_to('Просмотр', show_game_path(id: game.id, tournament: 'sl')) %></td>
            <tr>
            </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
<% end %>
