<div class="space-50"></div>
<section id="content-region-3" class="padding-40 page-tree-bg">
  <div class="container">
    <h3 class="page-tree-text-small">
      Рейтинг VI сезон (2016 г.)
    </h3>
  </div>
</section><!--page-tree end here-->

<div class="space-50"></div>
<div class="container">
  <div class="raw">
    <div class="cold-md-12">
      <table class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Ник</th>
          <th>Коэффициент</th>
          <th>Количество игр</th>
          <th>Штрафы</th>
        </tr>
        </thead>
        <% @result_array.each do |player| %>
            <% next if player[:position] == 'banned' %>
            <tbody class="<%= 'player-rating-background' if player[:position] != '' %>">
            <tr>
              <td><%= player[:position] %></td>
              <td><%= player[:nick] %></td>
              <td><%= player[:rating].round %></td>
              <td><%= player[:game_count] %></td>
              <td><%= player[:penalty_amount] %></td>
            <tr>
            </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>